html {
  font-size: 10px;
  background: url("../images/iggy.jpeg") bottom center;
  background-size: cover;
}
body {
	display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

}
.main {
	border: 5px solid black;
  border-radius: 5px;
  font-size: 100px;
  padding: 10px;


	letter-spacing: : 10px;
  text-align: center;
  color: #ffc600;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}